# Django
backend/env/
backend/.env
backend/mai_prod/db.sqlite3

# React
frontend/node_modules/
frontend/.env
frontend/build/
backend/mai_prod/accounts/__pycache__/views.cpython-312.pyc

.vscode
.env
__pycache__/
*.py[cod]
*.pyc
frontend/package-lock.json
frontend/package.json
frontend/package-lock.json
frontend/package.json

local_dump.dump