# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Version control
.git
.gitignore

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# Misc
.DS_Store
*.log 